<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuuipl6kxtIkNLu8IIBTW4prW0xq-QWTE</string>
	<key>GCM_SENDER_ID</key>
	<string>249808337572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatapp</string>
	<key>PROJECT_ID</key>
	<string>flutterchatapp-698f1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchatapp-698f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249808337572:ios:7df51f38be8b5f2bbc0431</string>
</dict>
</plist>